@import "tailwindcss";

@keyframes floatRotate {
  0% {
    transform:
      perspective(1200px)
      rotateY(0deg)
      translateY(0px);
  }

  50% {
    transform:
      perspective(1200px)
      rotateY(180deg)
      translateY(-10px);
  }

  100% {
    transform:
      perspective(1200px)
      rotateY(360deg)
      translateY(0px);
  }
}

.hero-cup {
  animation: none;
}